{% extends "layout.html"%}

{% block title %}
    {{title}}
{% endblock%} 

{% block content %}
    {% comment 'Esto es un comentario' %}
        <h1>hola</h1>
    {% endcomment %}
    <h1 class="title">{{title}}</h1>
    
    {% if nombre %}
        <p>{{nombre}}</p>
    {% else %}
        <strong>el nombre no existe</strong>
    {% endif %}

    <h3>listado de lenguajes de programacion</h3>
    <ul>
        {% for lenguaje in lenguajes %}
            <li>{{forloop.counter}}. {{lenguaje}}</li>
        {% empty %}
            <p>no hay lenguajes que mostrar</p>
        {% endfor %}
        
    </ul>

    <p>{{mi_variable}}</p>
{% endblock%}
