{% extends "layout.html"%} 
{% load filters %} 

{% block title %}
    pagina de pruebas
{% endblock%}

{%block content %}
    {{block.super}}
    <h1 class="title">Pagina de mi web</h1>
    <p>{{"creado por Sebastian Vega ñññ"|cut:"ñ"}}</p>
    <p>{{texto|default:"no hay nada"}}</p>
    <p>{{lista|join:", "}}</p>
    <p>{{lista|random}}</p>
    <p>{{"texto pruebas"|length}}</p>
    <p>{{"texto pruebas"|upper}}</p>
    <p>{{"<strong>texto pruebas</strong>"|striptags|wordcount}}</p>
    <p>{{"Sebastian Vega"|saludo|safe}}</p>
{% endblock%}
